# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Test coverage
coverage/

# IDE and editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Yarn and package lock files
yarn-error.log
yarn-debug.log
package-lock.json
